<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.weixing.spring.mybatis.domain">

    <!-- http://mybatis.org/mybatis-3/sqlmap-xml.html -->

    <!-- enable cache data -->
    <cache eviction="FIFO" size="1000"/>

    <select id="getUserById" resultType="User">
        SELECT *
        FROM users WHERE id = #{id}
    </select>

    <select id="getUsers" resultType="User">
        SELECT *
        FROM users
    </select>
</mapper>