<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.weixing.spring.mybatis.mapper">

    <!-- http://mybatis.org/mybatis-3/sqlmap-xml.html -->

    <resultMap id="user" type="User">
        <result column="group_id" property="group.id"/>
        <result column="group_name" property="group.name"/>
    </resultMap>

    <!-- enable cache data -->
    <cache eviction="FIFO" size="1000"/>

    <select id="getUserById" resultMap="user">
        SELECT *
        FROM users WHERE id = #{id}
    </select>

    <select id="getUsers" resultMap="user">
        SELECT *
        FROM users
    </select>
</mapper>